@media screen and (min-width:608px) {
  #cta-container {
    width: 550px;
  }
}

@media screen and (min-width:768px) {
  .container-flex {
    flex-direction: row;
  }

  #home-description p {
    max-width: 500px;
    padding: 0 2.7rem;
  }

  #home-logo svg {
    height: 300px;
    width: 300px;
    margin: 100px 30px 0 30px;
  }
}

@media screen and (min-width:932px) {

  #home-logo svg {
    height: 400px;
    width: 400px;
  }

  #paragraph3 {
    flex-basis: 100%;
  }
}

@media screen and (min-width:1024px) {
  #home-description p {
    max-width: 700px;
  }
}

@media screen and (max-width:1300px) {
  #feature-container {
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    justify-items: center;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 868px) {
  #feature-container {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .feature-tile {
    width: 300px;
  }

  .feature-description p {
    width: 270px;
  }
}

@media screen and (max-width:353px) {
  #feature-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    grid-row-gap: 20px;
    flex: 1 0 calc(33.33333% - 2rem);
  }

  .feature-tile {
    width: 285px;
  }

  .feature-description p {
    width: 260px;
  }
}