* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Signika', sans-serif;
  color: rgba(0, 0, 0, .75);
}

.container {
  font-size: 1.25rem;
  margin: 0 auto;
  width: 100%;
}

.container-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}


/* Styling navbar */
nav .container ul {
  background-color: #40596b;
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1.2rem;
}

nav .container ul li {
  margin-right: 1rem;
}

nav .container ul li:last-of-type {
  margin-right: 0;
}

nav .container ul li a {
  text-decoration: none;
  color: #ffd05a;
}

nav .container ul li a:hover {
  color: #fff;
}

/* Styling Home section */
#home {
  background-color: #55c0ec;
  min-height: calc(100vh - 12rem);
  display: flex;
}

.container-flex>* {
  margin-bottom: 2rem;
  min-width: 320px;
  flex: 1;
}

#home-description {
  text-align: center;
  width: 200px;
  padding: 1rem;
}


#home-description h1 {
  color: rgba(0, 0, 0, .6);
  font-size: 5rem;
  margin-bottom: 2rem;
  letter-spacing: -.2rem;
  font-weight: 100;
  margin-top: 5px;
}

#home-description strong,
.btn strong {
  color: rgba(0, 0, 0, .65);
  font-weight: 600;
}

#home-description p {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 100;
  line-height: 2rem;
  margin-bottom: 2rem;
  padding: 0 1rem;
}

.btn {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.75rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 300px;
  margin: 0 auto;
  color: inherit;
}

.btn img {
  margin: 0 1rem 0 0;
  width: 2.5rem;
}

#home-logo {
  display: flex;
  justify-content: center;
  height: 100%;
}

/* Styling About section */
#about {
  min-height: 50vh;
}