* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Signika", sans-serif;
  color: rgba(0, 0, 0, 0.75);
}

#wrapper {
  height: 100vh;
  overflow-y: scroll;
}

.container {
  font-size: 1.25rem;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

.container-flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.container-flex>* {
  margin-bottom: 2rem;
  min-width: 300px;
  flex: 1;
}

/* Styling navbar */
#navbar {
  background-color: #40596b;
  position: fixed;
  width: 100%;
}

nav .container ul {
  list-style-type: none;
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 1.2rem;
}

nav .container ul li {
  margin-right: 1rem;
}

nav .container ul li:last-of-type {
  margin-right: 0;
}

nav .container ul li a {
  text-decoration: none;
  color: #ffd05a;
}

nav .container ul li a:hover {
  color: #fff;
}

/* Styling Home section */
#home {
  background-color: #55c0ec;
  min-height: calc(100vh - 12rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-description {
  text-align: center;
  width: 200px;
  padding: 1rem;
  margin-top: 5.5rem;
}

#home-description h1 {
  color: rgba(0, 0, 0, 0.6);
  font-size: 5rem;
  margin-bottom: 0rem;
  letter-spacing: -0.2rem;
  font-weight: 100;
  margin-top: 1.5rem;
}

#home-description strong,
.btn strong {
  color: rgba(0, 0, 0, 0.65);
  font-weight: 600;
}

#home-description p {
  color: #fff;
  font-size: 1.6rem;
  line-height: 2rem;
  padding: 0 2rem 0.5rem 2rem;
}

.btn {
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.75rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 300px;
  margin: 0 auto;
  color: inherit;
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: rgb(240, 240, 240);
  animation: btn 2s ease;
}

@keyframes btn {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.98);
  }
}

.btn img {
  margin: 0 1rem 0 0;
  width: 2.5rem;
  transition: transform 0.3s ease-out;
}

.btn img:hover {
  transform: rotate(18deg) scale(1.5);
}

#home-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Transition features */
/* .reveal-item--visible {
  opacity: 1;
  transform: translateY(0);
}

.reveal-item {
  transition: opacity 1.5s cubic-bezier(.6, -.5, 0, .75),
    transform 1.5s cubic-bezier(.6, -.5, 0, .75);
} */

/* Scroll to top button */
#top-scroll {
  background-color: #ffd05a;
  border: none;
  border-radius: 4px;
  bottom: 1rem;
  cursor: pointer;
  padding: .5rem .5rem 0;
  position: fixed;
  right: 1rem;
  text-decoration: none;
  font-size: 200%;
  visibility: hidden;
  transition: opacity 0.5s;
}

#top-scroll:hover {
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  transform: scale(0.95);
}